.container {
    margin-bottom: 1rem;
}

.container select {
    width: 100%;
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid #313131;
    transition: .3s;
}

.container select:focus {
    background-color: #d7d7d7;
}

.container.danger select {
    border-color: #e73d3d;
}

.container.danger span {
    color: #e73d3d;
}