.container {
    max-width: 600px;
    margin: auto;
    color: white;
    padding-top: 2rem;
}

.content {
    background: #132d4a;
    border-radius: .5rem;
    border: 1px solid #284b73;
}

.navigation {
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-bottom: .5rem;
    gap: .5rem
}